/* image browsing */
.image-browsing {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    padding: 10px;
    color: #fff;
    z-index: 2000;
    user-select: none;
}

.image-browsing .comfy-modal-content {
    width: 100%;
}

/* common style */
.image-browsing ::-webkit-scrollbar {
    width: 6px;
}

.image-browsing ::-webkit-scrollbar-track {
    background-color: #353535;
}

.image-browsing ::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 3px;
}

.image-browsing .row {
    width: 100%;
    display: flex;
    gap: 8px;
}

.image-browsing .toolbar {
    padding-bottom: 16px;
    background-color: #353535;
}

/* grid list */
.image-browsing .grid-container {
    flex: 1;
    overflow-y: scroll;
}

.image-browsing .grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.image-browsing .grid-item {
    width: 150px;
    height: 120px;
}

.image-browsing .grid-item.selected {
    background-color: #a1a1a1;
    opacity: 0.7;
}

.image-browsing .grid-item .folder {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-browsing .grid-item .folder::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 75px;
    border-radius: 15px;
    background-image: linear-gradient(
        45deg,
        #ffa000,
        #ffa000 70%,
        transparent 70%,
        transparent
    );
}

.image-browsing .grid-item .folder::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 72px;
    border-radius: 15px;
    background-color: #ffca28;
    transform: translateY(10px);
}

.image-browsing .grid-item .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image-browsing .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-browsing .grid-item .name {
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

/* image preview */
.preview-container {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    gap: 8px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #353535;
    align-items: center;
    padding: 0 16px;
}

.preview-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.preview-container .prev,
.preview-container .next {
    height: 100px;
}

.preview-container .preview-img {
    flex: 1;
    height: 100%;
}

.preview-container .preview-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* request loading */
.loading-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container .content {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.loading-container .content .item {
    width: 6px;
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.confirm-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0003;
}

.confirm-mask .comfy-modal {
    display: flex;
    flex-direction: column;
}

.confirm-mask .content {
    white-space: nowrap;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
}

.confirm-mask .footer {
    display: flex;
    justify-content: space-around;
}

.confirm-mask button {
    width: 120px;
}
